* {
    margin: 0;
    padding: 0;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.navbar {
    margin: 0;
    padding: 0;
    z-index: 2;
    background-color: #ffb133;
    color: white;
    height: auto;
    position: sticky;
}

.navbar .logo{
    margin: 0;
    width: 10%;
    float: left;
}

.navbar .logo img {
    width: 100%;
}

.navbar ul{
    margin: 0;
    font-weight: 600;
    letter-spacing: 0.5px;
    float: right;
    list-style: none;
    text-transform: uppercase;
}

.navbar ul li {
    padding: 0 1.25vw 0 1.25vw;
    display: inline-block;
}

.navbar ul li,
.navbar ul li:after,
.navbar ul li:before {
    transition: all .6s;
}

.navbar ul li:hover {
    color: #af0000;
}


#content {
    position: absolute;
    z-index: 1;
}